<div class="fields">
 <%= f.label       :marks_in_10th %><br />
 <%= f.text_field  :marls_in_10th%><br />
 
 
 <%= f.label      :marks_in_12th  %><br />
 <%= f.text_area  :marks_in_12th %><br />
 
<%=f.submit "submit"%>

 </div>